body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Cinzel', sans-serif;
  background-color: black; /* Set the background color */
  height: 100vh; /* Set height to occupy the full viewport height */
}

.content {
  text-align: center;
}

h1 {
  font-size: 4em;
  font-weight: 400;
  margin: 0; /* Remove default margin */
  color: rgb(248, 236, 218); /* Set text color */
}

.letter {
  font-size: inherit;
  font-weight: inherit;
}

.period {
  font-size: 0.6em; /* Adjust font size for the period */
}
